.sidebar {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

.sidebar-open {
    transform: translateX(-100%);
}

.sidebar::-webkit-scrollbar {
    width: 0;
}

.sidebar:hover::-webkit-scrollbar {
    width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #4a5568;
    border-radius: 4px;
}

.sidebar::-webkit-scrollbar-track {
    background-color: #2d3748;
}

.buttoncolor {
    background-color: #282424;
}
